body {
  margin           : auto;
  padding          : 30px;
  background-color : #FFA400;
}

h1,
h2,
li,
a,
p,
ul {
  font-family : "Comic Sans MS", cursive, sans-serif
}

ul.header li {
  display         : inline;
  margin          : 0;
  list-style-type : none;
}

ul.header {
  padding          : 0;
  background-color : #111;
}

ul.header li a {
  display         : inline-block;
  padding         : 20px;
  color           : #FFF;
  text-decoration : none;
  font-weight     : bold;
}

.content {
  font-size        : 2vw;
  padding          : 20px;
  background-color : #FFFFFF;
}

.content h2 {
  margin  : 0;
  padding : 0;
}

.content li {
  margin-bottom : 10px;
}

.active {
  background-color : #0099FF;
}

.u3 {
  display : inline-block;
  width   : 30%;
  height  : 100%;
}

.u4 {
  display : inline-block;
  width   : 40%;
  height  : 100%;
}

.u5 {
  display : inline-block;
  width   : 50%;
  height  : 100%;
}

.u6 {
  display : inline-block;
  width   : 60%;
  height  : 100%;
}

.u7 {
  display : inline-block;
  width   : 70%;
  height  : 100%;
}

img {
  float      : right;
  max-width  : 100%;
  max-height : 100%;
}

.link-text a {
  position           : relative;
  color              : #E9F1F6;
  text-decoration    : none;
  text-shadow        : 0 1px 0 #721E1E,
                       0px 1px 3px rgba(0,0,0,255);
  -webkit-transition : all 0.5s ease-in;
}

.link-text a:hover {
  top : -1px;
}

.justify {
  text-align   : justify;
  text-justify : inter-word;
}

.footer-text {
  text-align : center;
}
